* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #DCC3EA;
  text-align: center;
  font-size: .5em;
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}
.gameOfLife {
  height: 100vh;
  width: 100vw;
}
.conway {
  font-size: 1.4em;
  margin: 0;
  text-align: center;
  padding: 0;
  margin-top: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
}
.title {
  font-size: 5.75em;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding: 0;
  font-family: 'Ravi Prakash', cursive;
}
.controls {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
 
  position: absolute;
  z-index: 1;
}
.start, .stop, .clear, .rotatebut {
  float: center;
  background: #fff;
  border: none;
  padding-top: 4px;
  padding-right: 7px;
  padding-left: 7px;
  margin-right: 9px;
  margin-left: 9px;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 10px;
  outline: none;
  font-family: 'Ravi Prakash', cursive;
  font-size: 2.37em;
  cursor: pointer;
  transition: .3s;
  box-shadow: 1px 1px 6px #000;
}
.start:hover, .stop:hover, .clear:hover, .rotatebut:hover {
  background: black;
  color: white;
  box-shadow: none;
}
.count {
  font-size: 1.9em;
  font-weight: 600;
  padding-top: 4px;
  margin: 0;
  margin-top: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}
.grid {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  perspective: 90em;
  position: absolute;
  z-index: -1;
}
.flex-grid-row {
  padding: 0;
  margin: 0;
  transform: rotateX(40deg);
}
.cell {
  background: #15A56C;
  padding: 7.67px;
  width: 3%;
  height: 3%;
  box-shadow: 2px 4px 4px #000;
  margin: 2px;
  display: inline-block;
  font-size: 11px;
}

.true {
  background: #00C441;
}

.false {
  background: #370053;
}

.fadeInEach {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both; 
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
  }

  80% {
    -webkit-transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
  }

  80% {
    -moz-transform: translateY(-10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(30px);
  }

  80% {
    -o-transform: translateY(-10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.rotate {
  -ms-transform: rotate(180deg) translateY(-90px); /* IE 9 */
    -webkit-transform: rotate(180deg) translateY(-90px); /* Safari */
    transform: rotate(180deg) translateY(-90px);
}

@media only screen and (max-width: 599px) {
  .cell {
    padding: 6.3px;
    width: 1.6%;
    height: 1.6%;
    margin: 2px;
  }
  .grid {
    transform: translateY(20px);
  }
  .rotate {
    -ms-transform: rotate(180deg) translateY(-68px); /* IE 9 */
    -webkit-transform: rotate(180deg) translateY(-68px); /* Safari */
    transform: rotate(180deg) translateY(-68px);
  }
}

@media only screen and (max-width: 499px) {
  .cell {
    padding: 6px;
    width: 1.6%;
    height: 1.6%;
    margin: 1px;
  }
}

@media only screen and (max-width: 399px) {
  .cell {
    padding: 5.3px;
    width: 1.4%;
    height: 1.4%;
    margin: .8px;
  }
}